<!-- Page Content -->
<div class="container main-container">

  <div class="row">

    <!-- LINKS -->
    <div class="col-md-3 purple-outline">
      <p class="lead">Bed Kandi 360</p>
      <div class="list-group">
        <a href="/" class="list-group-item">BedKandi180 Home</a>
        <a href="/warehouse" class="list-group-item">Warehouse</a>
      </div>
    </div>
    <!--/ LINKS -->

    <!-- MAIN BODY -->
    <div class="col-md-9">

      <!-- CAROUSEL -->
      <div class="carousel-holder">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active" style="height:inherit;background-color:lightgrey;">
              <div class="carousel-caption title">
                <h3>BedKandy180</h3>
              </div>
              <div class="carousel-caption message">
                <p>BedKandy180 is a premier adult toy service. Our main product line is a series of "kandies," or packages,
                containing high-quality, interesting toys selected by our experts specifically for you. You control
                how "spicy" you'd like your kandy, and provide us with relevant information about you,
                and we'll send you something that is guaranteed to delight in the bedroom. We also have an inventory
                of products <%= link_to 'here', '/warehouse' %> ranging from the basics to the newest and hottest items
                on the market, so you'll always find something for you. Welcome to BedKandy180; grab your piece of the action now.</p>
              </div>
              <img class="slide-image" src="<%= image_path 'box.png' %>" alt="" style="visibility:hidden;">
            </div>
            <div class="item">
              <img class="slide-image" src="<%= image_path 'box.png' %>" alt="">
            </div>
            <div class="item">
              <img class="slide-image" src="<%= image_path 'box.png' %>" alt="">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!--/ CAROUSEL -->

    </div>
    <!--/ MAIN BODY -->

  </div>

</div>
<!-- /.container -->

<div class="container">
  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Bed Kandi 360</p>
      </div>
    </div>
  </footer>
</div>
<!-- /.container -->
